<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngularJS.Core" version="1.4.7" targetFramework="win81" />
  <package id="AngularJS.Route" version="1.4.7" targetFramework="win81" />
  <package id="bootstrap" version="4.0.0-alpha" targetFramework="win81" />
  <package id="FontAwesome" version="4.4.0" targetFramework="win81" />
  <package id="jQuery" version="1.9.1" targetFramework="win81" />
</packages>